/* * {
  box-sizing: border-box;
}

h1, h2 {
  text-align: center;
}

img {
  display: block;
  height: 300px;
  margin: 0 auto;
}

ul {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  padding: 0;
}

li {
  height: 96px;
  width: 205px;
  border: 3px solid white;
  list-style: none;
}

#violet {
  background-color: rgb(240, 100, 240);
}

#green {
  background-color: rgba(0,253,81,1);
}

#blue {
  background-color: rgba(0,254,255);
}

#yellow {
  background-color: rgb(238, 238, 83);
}

#red {
  background-color: rgb(232, 41, 41);
}

#orange {
  background-color: rgb(241, 139, 5);
}
#dodgerBlue {
  background-color: rgb(30, 144, 255);
} */

* {
  box-sizing: border-box;
}

h1, h2 {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  height: 300px;
}

ul {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  padding: 0;
}

li {
  width: 205px;
  height: 97px;
  border: 3px solid white;
  list-style-type: none;
  border-radius: 15px;
}


#violet {
  background-color: rgb(240, 100, 240);
}

#green {
  background-color: rgba(0, 253, 81, 1);
}

#blue {
  background-color: rgba(0, 254, 255);
}

#yellow {
  background-color: yellow;
}

#red {
  background-color: red;
}

#orange {
  background-color: orange;
}

#dodgerBlue {
  background-color: dodgerblue;
}